
@font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/GothamMediumRegular.ttf);
}
*{
    padding:0;
    margin:0;
}
.logocontainer{
    
    width: 100%;
    height: 30%;
    background-color: rgba(22, 10, 139, 1);
    background-blend-mode: multiply;
    box-shadow: 0 0px 8px black ;
    
}
.image{
    background:transparent;
    margin-left: 40%;
    margin-top: 20%;
    position:relative;

}

#btn1{
width: 55%; color:rgba(22, 10, 139, 1); background-color: white;

}

#btn1:hover
{
    font-weight: bold;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(22, 10, 139, 1);
}
#btn1:hover
{
    font-weight: 200%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(22, 10, 139, 1);
}
#btn2{
    width: 55% ; background-color: white; color:rgba(22, 10, 139, 1);
}
#btn2:hover
{
   font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(22, 10, 139, 1);
}
.logform{
    width:90%;
    margin:auto;
}
.regform{
    width:90%;
    margin:auto;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.fb{
   //background-image: url('../../assets/imgs/rounded rectangle 1-3@3x.png') ;
   // background-size: 100%;
   // background-repeat: no-repeat;
   background-color: rgb(41, 74, 142);
}